@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-gray-50 text-gray-800;
  font-family: 'Montserrat', sans-serif;
}

h1 {
    @apply text-4xl font-bold text-slate-800 mb-6;
}

h2 {
    @apply text-2xl font-bold text-slate-800 mt-8 mb-4;
    &:first-of-type {
        @apply mt-0;
    }
}

h3 {
    @apply text-xl font-bold text-slate-800 mt-8 mb-4;
}

pre {
    @apply bg-gray-100 p-4 rounded mt-4;
}

code {
    font-family: 'Source Code Pro', 'Courier New', monospace;
    @apply text-gray-900 px-1 bg-gray-100 rounded
}

p {
    @apply mt-4;
}

ul {
    list-style: disc;
    @apply mt-2 ml-8;
}

a {
    @apply text-blue-800;
    &:hover {
        @apply text-blue-900;
    }
}

hr {
    @apply my-8 border-gray-200;
}

#readme {
    .hide-on-website {
        @apply hidden;
    }
    p:first-of-type {
        @apply mt-1
    }
    .center {
        @apply flex justify-center;
    }
    .space-y {
        @apply my-4;
    }
}
